.TheoryPage-Wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.TheoryPage__Themes{
    margin-top: 40px;
    font-size:  2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.TheoryPage__Themes li {
    margin: 0 40px; 
}

.TheoryPage__Themes li:hover{
    color: green;
}

.TheoryPage__Themes li .active{
    color: green;
    text-decoration: underline;
}